/**
 * [µ¥´Ê¶ÔÕ½ÑùÊ½±í]
 * @author Double
 * @code-date 2015.12.5
 */
/*CSS Initialization*/
 body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
 body, button, input, select, textarea { font:14px/1.5tahoma, arial, \5b8b\4f53; }
 h1, h2, h3, h4, h5, h6{ font-size:100%; }
 address, cite, dfn, em, var { font-style:normal; }
 code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
 small{ font-size:12px; }
 ul, ol { list-style:none; }
 a { text-decoration:none; }
 a:hover { text-decoration:underline; }
 sup { vertical-align:text-top; }
 sub{ vertical-align:text-bottom; }
 legend { color:#000; }
 fieldset, img { border:0; }
 button, input, select, textarea { font-size:100%; }
 table { border-collapse:collapse; border-spacing:0; }
 body{
 	font-family:Microsoft Yahei, Arial;
 	font-size: 16px;
 	height: 100%;
 	min-width: 320px;
 }
 html{height: 100%;}
 section,header,article,footer,aside{display: block};

 /*CSS MAIN*/
.content{

}
.content>.header{
	height: 18%;
	width: 100%;
	text-align: center;
	overflow: hidden;
	min-height: 150px;
}
.content>.header>.top {
	height: 100%;
	text-align: center;
	overflow: hidden;
}
.content>.header>.top>.left{
	width: 25%;
	display: inline-block;
	float: left;
}
.content>.header>.top>.right{
	width: 25%;
	display: inline-block;
	float: right;
}
.content>.header>.top img{
	width: 80%;
	height: 80%;
	border-radius: 100%;
	margin: 10px 10px;
	border: 3px solid #10438A;
}
.content>.header>.top>.middle{
	height: 50%;
	margin-top: 5%;
	margin:0 auto;
	width: 40%;
	min-width: 100px;
	display: inline-block;
	padding-top: 25px;
}
.content>.header>.top>.middle>.vs{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	font-size: 1.5em;
	color: #000;
	
}
.content>.header>.top>.middle>.score{
	min-width: 35px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	width: 25%;
	text-align: center;
	font-size: 2.2em;
	font-weight: bold;
	color: #39F;
}
.content>.header>.top>.middle>#left-score{
	float: left;
	margin-left: 3%;
}
.content>.header>.top>.middle>#right-score{
	float: right;
	margin-right: 3%;
}
/* .content>.header>.timer{
	font-size: 1.5em;
} */
.content>.main{
	clear: both;
}
.content>.main>#input-area{
	width: 100%;
	height: 20%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 10px 0;
	white-space:nowrap;
}
.content>.main>#input-area>input{
	border-radius: 5px;
	width: 6%;
	min-width:15px; 
	max-width:25px;
	margin:0 7.5px;
	border: none;
	border-bottom: 2px solid lightgrey;
	outline: none;
	font-size: 30px;
	text-align: center;
}
.content>.main>#input-area>input:focus{
	background-color: #eee;
}
.content>.main>#input-area>input.defalut{
	border: none;
}
.content>.main>#input-area>input.incorrect{
	animation: colorChange 1s;
}
@keyframes colorChange
{
	0%  { background-color: none;}
	50% { background-color: #D9534F;}
	100% { background-color: none;}
}
@-moz-keyframes myfirst /* Firefox */
{
	0%  { background-color: none;}
	50% { background-color: #D9534F;}
	100% { background-color: none;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
	0%  { background-color: none;}
	50% { background-color: #D9534F;}
	100% { background-color: none;}
}
.content>.main>#input-area>input.correct{
	background-color: #3AC3F3;
	border: none;
}
.content>.main>#input-area>input.lock{
	background-color: #ccc;
	border: none;
}
.content>.main>#tip-area{
	text-align: center;
}
.content>.main>#tip-area>.tip{
	vertical-align: center;
	width: 50%;
	height: 12%;
	font-size: 25px;
	margin: 10px auto;
	color: #000;
	border: 1px solid tansparent;
	border-radius: 8px;
	background-color: #E8E8E8;
}
.content>.main>#tip-area>.tip.small{
	display: inline-block;
	width: auto;
	padding: 0 5px;
	margin: 0 5px;
}
.content>.footer{
	margin: 10px ;
	text-align: center;
}
#nextButton{
	position: absolute;
	right: 0;
	top: 45%;
	margin-top: 20px;
	display: inline-block;
	width: 15%;
	height: 15%;
	background: url(../img/to-next.png)  no-repeat center/70% 70%;
}
.content>.score-area{
	color: #003;
}
.content>.score-area>.leftScore{
	position: absolute;
	top: 12%;
	left: 10%;
}
.content>.score-area>.rightScore{
	position: absolute;
	top: 12%;
	left: 85%;
}
#again{
	width: 35%;
	margin-left: 32.5%;
}
#win{
	font-size: 1.8em;
	display: block;
	width: 35%;
	margin-left: 32.5%;
	margin-bottom: 10px;
	margin-top: 0;
}
#overtime{
	opacity: 0;
	display: inline-block;
	position:fixed;
	margin:auto;
	left:0;
	right:0;
	top: 15%;
	width:42px;
	height:22px;
	font-size: 14px;
}
.miss{
	opacity: 0;
	position: fixed;
	margin:auto;
	left:0;
	right: 0;
	top: 25%;
	width: 60px;
	height:35px !important;
	line-height: 30px !important;
	font-size: 16px !important;
	font-weight: bold;
	vertical-align: middle !important;
}